<div class="container">
  <button type="submit" value="submit" class="btn btn-success" style="margin-top: 50px;" (click)="addNewImage()">Add New Image</button>
   <!-- <div style="text-align:center; margin-bottom: 15px;">
    <canvas id="doughnut" width="250" height="100" class="chartjs-render-monitor" style="display: block"></canvas>
  </div>  -->
  <div style="margin-bottom: 50px;">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Image Name</th>
          <th scope="col">Image Type</th>
          <th scope="col">Image Date</th>
          <th scope="col">Update Image</th>
          <th scope="col">Delete Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of imageRecord; index as i">
          <th >{{i+1}}</th>
          <td>{{image.image_name}}</td>
          <td>{{image.image_type}}</td>
          <td>{{image.date_created | date:'mediumDate'}}</td>
          <td><button type="submit" style="width: 100px;" value="submit" class="btn btn-success" (click)="updateImage(image)">Update</button></td>
          <td><button type="submit" style="width: 100px;" value="submit" class="btn btn-danger" (click)="deleteImage(image, i)">Delete <i class="fa fa-times" aria-hidden="true"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>