
<div class="container">
  <form name="imageForm" style="margin-bottom: 50px;" enctype="multipart/form-data">
    <div>
      <button type="submit" value="submit" class="btn btn-success" style="width: 100px; margin-left: 1012px; margin-top: 50px;" (click)="goBack()">Back</button>
    </div>
    <hr>
    <fieldset>
      <h5>
        <u style="margin-left: 50px;"> User Details :</u>
      </h5>
      <br>
      <div class="form-group">
        <label for="imageName"><b>Image Name</b></label>
        <input type="text" class="form-control" id="imageName" name="imageName" [(ngModel)]="formData.image_name">
      </div>
      <div class="form-group">
        <label for="image_type"><b>Image Type</b></label>
        <input type="text" class="form-control" id="image_type" name="image_type" [(ngModel)]="formData.image_type">
      </div>
      <div class="form-group">
        <input  type="file" id="avatar" name="myImg"  (change)="fileUploadFun($event)">
      </div>
    </fieldset>
    <br>
    <button type="submit" style="width: 100px; margin-top: 20px;" class="btn btn-primary" (click)="addImageDetails()">Submit</button>
  </form>
</div>
