<div class="container">
  <form name="userCreateForm"  style="margin-bottom: 50px;">
      <div>
      <button type="submit" value="submit" class="btn btn-success" style="width: 100px; margin-left: 1012px; margin-top: 50px;" (click)="goBack()">Back</button>
      </div>
      <hr>
      <fieldset><h5><u style="margin-left: 50px;"> User Details :</u></h5>
        <br>
      <div class="form-group">
        <label for="userName"><b>User Name</b></label>
        <input type="text" class="form-control" name="userName" [(ngModel)]="formData.userName" placeholder="User Name" />
      </div>
      <div class="form-group">
        <label for="UserId"><b>Email</b></label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="Password"><b>Password</b></label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="formData.password" placeholder="Password">
      </div>
      </fieldset>
    <br>
      <fieldset><h5><u style="margin-left: 50px;"> Address :</u></h5>
        <br>
        <div class="form-group">
          <label for="adress"><b>Line 1</b></label>
          <input type="text" class="form-control" id="line1" name="line1" [(ngModel)]="formData.userAdress.line1" placeholder="Line 1">
        </div>
        <div class="form-group">
          <label for="adress"><b>Line 2</b></label>
          <input type="text" class="form-control" id="line2" name="line2" [(ngModel)]="formData.userAdress.line2" placeholder="Line 2">
        </div>
        <div class="form-group">
          <label for="adress"><b>City</b></label>
          <input type="text" class="form-control" id="city" name="v" [(ngModel)]="formData.userAdress.city" placeholder="City">
        </div>
        <div class="form-group">
          <label for="adress"><b>State</b></label>
          <input type="text" class="form-control" id="state" name="state" [(ngModel)]="formData.userAdress.state" placeholder="State">
        </div>
        <div class="form-group">
          <label for="adress"><b>Country</b></label>
          <input type="text" class="form-control" id="country" name="country" [(ngModel)]="formData.userAdress.country" placeholder="Country">
        </div>
        <div class="form-group">
          <label for="adress"><b>Pin Code</b></label>
          <input type="number" class="form-control" id="pincode" name="pincode" [(ngModel)]="formData.userAdress.pincode" placeholder="Pin Code">
        </div>
      </fieldset>
      <button type="submit" style="width: 100px; margin-top: 20px;" class="btn btn-primary" (click)="saveUserDetails()">Submit</button>
  </form>
</div>