<div class="container">
  <button type="submit" value="submit" class="btn btn-success" style="margin-top: 50px;" (click)="addNewUser()">Add New User</button>
  <div style="text-align:center; margin-bottom: 15px;">
    <!-- <h2 style="background-color: rgba(255, 145, 186, 1);font-size: 2rem">Pie Chart</h2> -->
    <canvas id="doughnut" width="250" height="100" class="chartjs-render-monitor" style="display: block"></canvas>
  </div>
  <div style="margin-bottom: 50px;">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">User Name</th>
          <th scope="col">User Id</th>
          <th scope="col">View User</th>
          <th scope="col">Update User</th>
          <th scope="col">Delete User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userRecord; index as i">
          <th >{{i+1}}</th>
          <td>{{user.userName}}</td>
          <td>{{user.email}}</td>
          <td><button type="submit" style="width: 100px;" value="submit" class="btn btn-success" (click)="viewUser(user)">View</button></td>
          <td><button type="submit" style="width: 100px;" value="submit" class="btn btn-success" (click)="updateUser(user)">Update</button></td>
          <td><button type="submit" style="width: 100px;" value="submit" class="btn btn-danger" (click)="deleteUser(user, i)">Delete <i class="fa fa-times" aria-hidden="true"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>